@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    text-decoration: none;
}


body{
    font-family: 'Montserrat';

}

.main_website{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.8fr 0.7fr 5fr 2fr 2fr 2fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "logo logo logo logo"
      "navbar navbar navbar navbar"
      "chi_siamo_container chi_siamo_container chi_siamo_container chi_siamo_container"
      "playstation_world_text playstation_world_text playstation_world_text playstation_world_text"
      "chi_siamo_img chi_siamo_img chi_siamo_img chi_siamo_img"
      "chi_siamo_text chi_siamo_text chi_siamo_text chi_siamo_text"
      "contatti contatti contatti contatti";
      min-height:100vh;
  }

  .logo{
    grid-area: logo;
    text-align: center;
    padding-top: 1vh;
    justify-content: center;
    display: flex;
  }

  h1{
    font-family: 'Lato';
  }

  #img-container{
    width:50rem;
    height:2rem;
    display: -webkit-flex;
    align-items: center;

  }
  #logo{
    contain: content;
  }

  html{
    scroll-behavior: smooth;
  }

  nav{
    grid-area: navbar;
    display:flex;
    background-color: #000;
    
    text-align: center;
    justify-content: center;
    color:#fff;
    
  }

  .navlist{
    margin: 20px;
    
  }

  .navlist li{
  display: inline;
  margin-right: 70px;
  
  }
  .navlist li a{
    color:#fff;
  }
  .navlist li a:hover{
    color:red;
  }


  .chi_siamo_container{
  grid-area: chi_siamo_container;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-around;
  }

  .container-one{
    width:50%;
    height:13vh;
    margin:0 auto;
    position: relative;
    top:1rem;
  }

.list{
  list-style-type: none;
}

.container-two{
  width:30%;
  height:5vh;
  margin: 0 auto;
  text-align: center;
}

#learn-more{
  padding: 0.5rem;
  background-color: #fff;
  color:#000;
  border:1px solid #000;

}
#learn-more:hover{
  padding: 0.5rem;
  background-color: #000;
  color:#fff;
  cursor: pointer;

}



  .playstation_world_text{
    grid-area: playstation_world_text;
    border: black 1px solid;

  }

  .chi_siamo_img{
    grid-area: chi_siamo_img;
  }

  .chi_siamo_text{
    grid-area: chi_siamo_text;
  }

  .contatti{
    grid-area: contatti;
  }



  @media (max-width:600px){

    .main_website{
        display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.8fr 0.7fr 8fr 2fr 2fr 2fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "logo"
      "navbar"
      "chi_siamo_container"
      "playstation_world_text"
      "chi_siamo_img"
      "chi_siamo_text"
      "contatti";
      min-height:100vh;
    }
  

    .navlist ul{
        margin-top: 4%;
    }
    
    h1{
    text-align: center;
    padding-top: 2%;
    }
    
        .navlist li{
            font-size: 0.7rem;
            margin-right: 1rem;
            
        }

.chi_siamo_container{
  grid-area: chi_siamo_container;
}

.container-one{
  position: relative;
  top:0;
  width:85%;
  height:30vh;
  font-size: 1.5rem;
}        
.list{
  margin-top: 2rem;
}
.list li{
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

#learn-more{
  width:110%;
}


      }

